html {font-size: 18.0px;}
@media only screen and (max-width: 1000px) {html {font-size: 17.8px;}}
@media only screen and (max-width: 980px) {html {font-size: 17.6px;}}
@media only screen and (max-width: 960px) {html {font-size: 17.4px;}}
@media only screen and (max-width: 940px) {html {font-size: 17.2px;}}
@media only screen and (max-width: 920px) {html {font-size: 17.0px;}}
@media only screen and (max-width: 900px) {html {font-size: 16.8px;}}
@media only screen and (max-width: 880px) {html {font-size: 16.6px;}}
@media only screen and (max-width: 860px) {html {font-size: 16.4px;}}
@media only screen and (max-width: 840px) {html {font-size: 16.2px;}}
@media only screen and (max-width: 820px) {html {font-size: 16.0px;}}
@media only screen and (max-width: 800px) {html {font-size: 15.8px;}}
@media only screen and (max-width: 780px) {html {font-size: 15.6px;}}
@media only screen and (max-width: 760px) {html {font-size: 15.4px;}}
@media only screen and (max-width: 740px) {html {font-size: 15.2px;}}
@media only screen and (max-width: 720px) {html {font-size: 15.0px;}}
@media only screen and (max-width: 700px) {html {font-size: 14.8px;}}
@media only screen and (max-width: 680px) {html {font-size: 14.6px;}}
@media only screen and (max-width: 660px) {html {font-size: 14.4px;}}
@media only screen and (max-width: 640px) {html {font-size: 14.2px;}}
@media only screen and (max-width: 620px) {html {font-size: 14.0px;}}
@media only screen and (max-width: 600px) {html {font-size: 13.8px;}}
@media only screen and (max-width: 580px) {html {font-size: 13.6px;}}
@media only screen and (max-width: 560px) {html {font-size: 13.4px;}}
@media only screen and (max-width: 540px) {html {font-size: 13.2px;}}
@media only screen and (max-width: 520px) {html {font-size: 13.0px;}}
@media only screen and (max-width: 500px) {html {font-size: 12.8px;}}
@media only screen and (max-width: 480px) {html {font-size: 12.6px;}}
@media only screen and (max-width: 460px) {html {font-size: 12.4px;}}
@media only screen and (max-width: 440px) {html {font-size: 12.2px;}}
@media only screen and (max-width: 420px) {html {font-size: 12.0px;}}
@media only screen and (max-width: 400px) {html {font-size: 11.8px;}}
@media only screen and (max-width: 380px) {html {font-size: 11.6px;}}
@media only screen and (max-width: 360px) {html {font-size: 11.4px;}}
@media only screen and (max-width: 340px) {html {font-size: 11.2px;}}
@media only screen and (max-width: 320px) {html {font-size: 11.0px;}}

.CodeMirror-linenumber {
  color: #505050;
}

html, button {
  font-family: monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editors {
  display: flex;
  height: 100%;
}

.editors .CodeMirror {
  height: 100%;
}

.editor--main {
  flex: 3;
}

.editor--test {
  flex: 4;
}

.menu {
  background-color: lightblue;
  height: 5%;
  display: flex;
  font-size: 80%;
}

.menu button {
  display: block;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0 1em;
  font-size: 80%;
}

.menu button:hover,
.menu button:focus {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.js-results {
  display: flex;
  margin-left: 2em;
  align-items: center;
}

/* Colors */
.color--error {
  color: red !important;
}

.color--success {
  color: lime !important;
}

.color--fail {
  color: goldenrod !important;
}

/* Gutter */
.status {
  width: 1em;
}